* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Tungsten";
  src: url(/Tungsten.woff);
}
::selection {
  color: #f7383f;
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #f7383f;
  border-radius: 5px;
}
body {
  background-color: #161616;
  color: #f0f0f0;
  font-family: "VT323", monospace;
  overflow-x: hidden;
}
a {
  color: #f0f0f0;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0 0 0 1rem;
}
